@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

body {
  background-color: #1d1e2c;
  opacity: 1.5;
  display: flex;
  color:#FFF;
 justify-content: center;
}

header {
 width: 25vw;
 height: 100vh;
 justify-content: center;
 text-align: center;
 background-color: #3D7068;
 margin-left: 100px;
 

}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin:60px;
}

header h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

header p {
    text-align: justify;
    padding: 0 20px;
    margin-top: 10px;
    
}

.social{
    height:40px;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}

.rede {
    height: 40px;
}

.contato {
    
   
}


main{
    padding: 15px;
    text-align: center;
    margin: 70px ;
    align-items: center;
    text-align: center;
    border: solid black;
    margin-right: 100px;
    width: 50vw;
}

.row1{
    margin-bottom: 15px;
    
}
.row1 p {
    text-align: justify;
    margin: 0 60px;
    margin-top: 15px;
}

.eliti {
    margin: 30px 0 0 0 ;
    height: 130px;
    border-radius: 65px;
}

.row2 {
    margin: 15px;
}

.row2 h2 {
    margin: 30px 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
   
}

.css {
    height: 90px;
    margin: 5px 30px;
}

.desc {
    margin-top: 50px;

}

.desc h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-size: 30px;
    
   
}

ul {
 list-style: none;
 margin-top: 20px;
 display: flex;
 text-align: center;
 justify-content: space-evenly;
 
}

li h3 {
    margin: 0 0 5px 0;
}

#emilio {
    margin-top: 5px;
}
