*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
  }

body {
  background-color: #A99F96;
  display: flex;
  justify-content: space-around;

}

.header {
 border:solid none;
 width: 20vw;
 height:100vh;
 text-align: center;
 background-color: rgb(85, 66, 66);
 color: rgb(10, 10, 10);
 
 
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 70px;
  
}

.lorem{
 
}

.git{
 height: 70px;
 border-radius: 70px;
 margin: 150px;
 
}

h1 {
  margin: 20px;
  font-size: 50px;
}

.row1 {
 
}
.conteiner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
  margin: 70px;
}