@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
  background-color: #14080E;
  opacity: 1.5;
  display: flex;
  color:#BDBBB6;
  
}

.header {
 border:solid none;
 width: 20vw;
 height:100vh;
 justify-content: center;
 text-align: center;
 background-color: #3D7068;
 margin-left: 200px;
 display: grid;
 
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin:60px;
    
}


.oi {
  margin: 20px;
  
}
.git{
 height:55px;
 border-radius: 60px;
 
}

.github {
  height: 50px;
  border-radius: 60px;

}

.icon{
  text-align: center;
  margin: 70px;
  display: flex;
  justify-content:space-evenly;

}

h1 {
  margin: 20px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  text-decoration:wavy;

}

.css {
 height: 200px;
 
}
.conteiner {
  
  align-items: center;
  text-align: center;
  margin: 70px;
  gap: 100px;
  border: solid;

}

.row1{
padding: 30px;

}

.row2 {
  
  height: 300px;

}

h2 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-decoration: wavy;

}
.nome {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
